- name: Create directory tasks
  import_tasks: Create_directory.yml

- name : Verify resources
  import_tasks : Verify_resources.yml

- name: Gather Active Facts
  import_tasks : Gather_active_Service.yml

- name : Gather Evidences
  import_tasks : Gather_Evidences.yml
 














          
